.swiper-button-prev,
.swiper-button-next {
    color: white !important;
}

body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}

.section {
    height: 30em;
    display: flex;
    flex-basis: auto;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
}

.footer {
    background-color: #00AFF0;
    height: 15em;
}

.gap {
    margin-top: 2em;
}

.text-center {
    padding: 0 10em;
}